<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.gloosuwatari">

    <application
        android:allowBackup="true"
        android:icon="@drawable/gloo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gloo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Crash" />
        <activity android:name=".Win" />
        <activity android:name=".Normal" />
        <activity android:name=".Intro" />
        <activity android:name=".Modes" />
        <activity android:name=".Direction" />
        <activity android:name=".Gloo"></activity>
    </application>

</manifest>